html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Déconnexion - Blog Positif
        //- link(rel="stylesheet", href="inscription.css")
       
        style
            include disconnection.css
    body
        .deconnection-container
            h2=message 
            a(href="/"): button.homeBtn Retour à la connexion