doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inscription - Blog Positif
        //- link(rel="stylesheet", href="inscription.css")
       
        style
            include inscription.css
    body
        .inscription-container
            form.formulaire(action="/signup", method="POST")
                h2.form-title Créer un compte
                    label(for="username") Nom d'utilisateur
                    input#username(type="text", name="username", placeholder="Joe Joe", required)
                    label(for="pseudo") Pseudo
                    input#pseudo(type="text", name="pseudo", placeholder="joe123", required)
                    label(for="email") Email
                    input#email(type="email", name="email", placeholder="exemple@email.com", required)
                    label(for="password") Mot de passe
                    input#password(type="password", name="password", placeholder="Mot de passe", required)
                    button(type="submit") Valider
