body {
    display: flex;
}

.sidebar{
    background-color: aqua;
    /* position: fixed; */
    height: 98vh;
    width: 20vw;
    margin-right: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.userIcon{
    height: 3rem;
    width: 3rem;
    align-self: center;
}
.userInfo{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 1rem;
}

.username{
    margin-bottom: 0;
}
.pseudo{
    padding: 0;
    margin-top: 0;
}

.modifyBtn {
    margin: 1rem;
    align-self: last baseline;
}

.main {
    right: 20vw;
    display: flex;
    flex-direction: column;
}

.creation{
    align-self: center;
    margin-bottom: 1rem;
    border: solid 1px black;
    padding: 1rem;
}

.creation input{
    width: 20vw;
    height: 5vh;
}

.creation button{
    margin: 1rem;
}

.post{
    border: solid 1px black;
    margin-bottom: 0.2rem;
    width: 70vw;
}